In [5]:
from sklearn.svm import SVC
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [6]:
data = pd.read_csv('E:/KULIAH/MAGISTER/ASDOS_DATMIN/datminC_week1.csv', sep=',')
data.head()

,total_transcations,total_distance,online_duration_in_seconds,orders_received,orders_accepted,earnings,orders_cancelled,label
0,2,34.05,20717,62,5,135700,1,0
1,2,39.62,41693,45,2,146050,0,0
2,2,30.94,20216,29,2,125350,0,0
3,2,17.71,24275,45,12,63250,7,0
4,2,33.73,27638,35,8,170200,1,0

In [7]:
x = data.iloc[:, data.columns != 'label']
y = data.iloc[:, data.columns == 'label']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [9]:
# LINIER
svclassifier_1 = SVC(kernel='linear')
svclassifier_1.fit(x_train, y_train.values.ravel())
y_pred_1 = svclassifier_1.predict(x_test)

In [10]:
print(confusion_matrix(y_test,y_pred_1))

[[10  0]
 [ 0  3]]

In [7]:
# POLINOM
svclassifier_2 = SVC(kernel='poly')
svclassifier_2.fit(x_train, y_train.values.ravel())
y_pred_2 = svclassifier_2.predict(x_test)

In [8]:
print(confusion_matrix(y_test, y_pred_2))

[[10  0]
 [ 3  0]]

In [9]:
# RBF
svclassifier_3 = SVC(kernel='rbf')
svclassifier_3.fit(x_train, y_train.values.ravel())
y_pred_3 = svclassifier_3.predict(x_test)

In [10]:
print(confusion_matrix(y_test, y_pred_3))

[[10  0]
 [ 3  0]]

In [11]:
# SIGMOID
svclassifier_4 = SVC(kernel='sigmoid')
svclassifier_4.fit(x_train, y_train.values.ravel())
y_pred_4 = svclassifier_4.predict(x_test)

In [12]:
print(confusion_matrix(y_test, y_pred_4))

[[10  0]
 [ 3  0]]

In [13]:
acc_svm_1 = round(accuracy_score(y_pred_1, y_test) * 100, 2)
acc_svm_2 = round(accuracy_score(y_pred_2, y_test) * 100, 2)
acc_svm_3 = round(accuracy_score(y_pred_3, y_test) * 100, 2)
acc_svm_4 = round(accuracy_score(y_pred_4, y_test) * 100, 2)

In [14]:
models = pd.DataFrame({
    'Model SVM': ['Linear', 'Poly', 'rbf', 'Sigmoid'],
    'Score': [acc_svm_1, acc_svm_2, acc_svm_3, acc_svm_4]})
models.sort_values(by='Score', ascending=False)

  Model SVM   Score
0    Linear  100.00
1      Poly   76.92
2       rbf   76.92
3   Sigmoid   76.92